.main-width {
  max-width: 1200px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.main-title {
  font-size: 5rem;
  color: black;
}

.teste {
  height: 100px;
  width: 100px;
  background-color: black;
}
