.main-width {
  max-width: 1200px;
  margin: auto;
}

/* MAIN TITTLE */

.main-title {
  font-size: 4rem;
  font-family: "Righteous", sans-serif;
  background-color: var(--bg-first);
  color: var(--color-title-first);
  transition: 0.5s;
  background: var(--bg-title);
}

.main-title.-portfolio {
  position: relative;
  color: transparent;
  font-size: 1.5rem;
  padding: 0px 15px;
  line-height: 40px;
  letter-spacing: 5px;
  transition: 0.5s;
}
.main-title.-portfolio::before {
  box-sizing: border-box;
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 15px;
  width: 90%;
  height: 40px;
  color: var(--color-title-first);
  border-right: 3px solid var(--border-first);
  overflow: hidden;
  animation: txtPortifolio 6s linear infinite;
}

@keyframes txtPortifolio {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 90%;
  }
}

.main-title.-habilidades {
  font-size: 2rem;
  padding: 14px 20px;
  letter-spacing: 10px;
}

.main-title.-project,
.main-title.-contact {
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 14px 20px;
  letter-spacing: 10px;
}

/* TEXT */
.main-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  color: var(--color-font-third);
  transition: 0.5s;
}
.hello {
  font-family: "Work Sans", sans-serif;
  color: var(--color-title-second);
  font-size: 2.5rem;
  font-weight: 500;
  transition: 0.5s;
}
.name {
  font-family: "Righteous", cursive;
  font-size: 2.8rem;
  line-height: 1.2em;
  transition: 0.5s;
}
.about {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 300;
  padding-right: 30px;
  transition: 0.5s;
  color: var(--color-font-fourth);
}

/* MEDIA ICON */
.wrapper-media {
  display: flex;
  gap: 10px;
}
.wrapper-media .ico {
  position: relative;
  top: 0;
  width: 45px;
  transition: 0.1s;
  padding-bottom: 5px;
}
.wrapper-media .ico:hover {
  top: -3px;
  transition: 0.5s cubic-bezier(0.4, -3, 0.4, -3);
}

@media screen and (max-width: 900px), screen and (max-height: 650px) {
  .main-title.-portfolio {
    line-height: 30px;
  }
  .main-title.-portfolio::before {
    height: 30px;
  }
  .main-title {
    font-size: 2rem;
  }
  .main-title.-portfolio {
    font-size: 1rem;
  }
  .main-text {
    font-size: 1.3rem;
  }
  .hello {
    font-size: 1.8rem;
  }
  .name {
    font-size: 2rem;
    line-height: 1.5em;
  }
  .about {
    font-size: 1rem;
    line-height: 1.2em;
    padding-right: 10px;
  }

  .main-title.-habilidades,
  .main-title.-project,
  .main-title.-contact {
    font-size: 1.5rem;
    padding: 12px 18px;
    letter-spacing: 7px;
  }
}
