.main-width {
  max-width: 1200px;
  margin: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.label {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 5px;
}

.input {
  font-size: 1.2rem;
  padding: 7px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(241, 241, 241);
}

.textarea {
  margin-bottom: 20px;
  height: 230px;
}

/* tilte and subtitle */
.main-title {
  font-size: 4rem;
  margin-bottom: 50px;
  color: var(--color-b-first);
  text-align: center;
}

.main-subtitle {
  font-size: 2.5rem;
  color: var(--color-b-first);
}

/* boxes */
.skills-box {
  background-color: var(--color-o-fourth);
  width: 120px;
  height: 120px;
  border: 3px solid var(--color-b-fourth);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.project-box {
  box-sizing: border-box;
  background-color: var(--color-o-fourth);
  width: 350px;
  height: 280px;
  border: 3px solid var(--color-b-fourth);
  border-radius: 1.5rem;
}

.icon-footer {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 15px;
  border-radius: 17px;
  border: 1.5px solid var(--color-b-second);
  box-shadow: 5px 5px 10px rgba(69, 134, 255, 0.3);
  filter: saturate(0);
  transition: all 700ms cubic-bezier(0.62, -0.19, 0.45, 1.6);
}
.icon-footer.-github {
  filter: contrast(0);
  /* transition: all 700ms; */
}
.icon-footer:hover {
  filter: saturate(1);
  filter: contrast(1);
  transform: rotate(360deg);

  /* transition: all 700ms; */
}

/* buttons */
.main-button {
  background-color: var(--color-b-first);
  color: var(--color-o-fifth);
  border: 2px solid var(--color-o-fifth);
  border-radius: 35px;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.-git {
  font-size: 2rem;
  padding: 15px 45px;
  margin-top: 30px;
}

.-form {
  max-width: 270px;
  font-size: 1.5rem;
  padding: 15px;
  margin-left: 20px;
}
