:root {
  --bg-first: #fff;
  --bg-second: rgb(255, 255, 220);
  --bg-third: rgb(245, 255, 255);

  --menu-first: #fff;
  --menu-second: rgb(46, 46, 46);
  --menu-second-a: rgba(0, 0, 0, 0.05);
  --menu-third: #e7e7e7;

  --bg-contact: rgb(73, 73, 73);
  --bg-contact-second: rgb(82, 82, 82);
  --bg-contact-second-a: rgba(82, 82, 82, 0.384);

  --color-title-first: rgb(255, 255, 255);
  --color-title-third: rgb(46, 46, 46);
  --color-title-second: rgb(0, 143, 136);

  --color-font-first: #fff;
  --color-font-first-a: rgba(255, 255, 255, 0.5);
  --color-font-second: rgba(82, 82, 82);
  --color-font-third: rgb(46, 46, 46);

  --border-first: rgba(255, 255, 255, 0.9);
  --border-second: rgba(255, 255, 255, 0);
  --border-shadow-first: rgba(0, 0, 0, 0.1);
  --border-shadow-second: rgba(0, 0, 0, 0.2);

  --button-first: #fff;
  --button-second: rgb(0, 143, 136);
  --button-third: rgb(223, 223, 223);
  --button-fourth: rgb(73, 73, 73);
}

.darkmode:root {
  --bg-first: #fff;
  --bg-second: rgb(255, 255, 220);
  --bg-third: rgb(245, 255, 255);

  --menu-first: #fff;
  --menu-second: rgb(46, 46, 46);
  --menu-second-a: rgba(0, 0, 0, 0.05);
  --menu-third: #e7e7e7;

  --bg-contact: rgb(73, 73, 73);
  --bg-contact-second: rgb(82, 82, 82);
  --bg-contact-second-a: rgba(82, 82, 82, 0.384);

  --color-title-first: rgb(255, 255, 255);
  --color-title-third: rgb(46, 46, 46);
  --color-title-second: rgb(0, 143, 136);

  --color-font-first: #fff;
  --color-font-first-a: rgba(255, 255, 255, 0.5);
  --color-font-second: rgba(82, 82, 82);
  --color-font-third: rgb(46, 46, 46);

  --border-first: rgba(255, 255, 255, 0.9);
  --border-second: rgba(255, 255, 255, 0);
  --border-shadow-first: rgba(0, 0, 0, 0.1);
  --border-shadow-second: rgba(0, 0, 0, 0.2);

  --button-first: #fff;
  --button-second: rgb(0, 143, 136);
  --button-third: rgb(223, 223, 223);
  --button-fourth: rgb(73, 73, 73);
}
