.colorBk-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: 1s;
}
#scroll {
  height: 90px;
  transition: 1s;
}

#scroll.sticky {
  background: rgb(46, 46, 46);
  border-bottom: 2px solid white;
  height: 70px;
}
#header {
  box-sizing: border-box;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
}
#nav {
  transition: 1s;
}
#nav.posMenu {
  margin-bottom: 20px;
}

#menu {
  display: flex;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-size: 2em;
  color: rgb(46, 46, 46);
  transition: 0.5s;
}
#menu a:hover {
  color: white;
  background-color: rgb(46, 46, 46);
  transition-delay: 0.15s;
  transition-property: color;
}

#menu a.lnk {
  /* background-color: transparent; */
  color: white;
  transition-delay: 0.15s;
  transition-property: color;
}
#menu a.lnk:hover {
  color: rgb(46, 46, 46);
  background-color: rgb(255, 255, 255);
}

#btn-mobile {
  display: none;
  font-family: "Righteous", sans-serif;
}

/* 
.wrapper-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: clamp(40px, 40px + 5.5vh, 100px);
  z-index: 3;
  transition: 0.3s;
}

*/

@media (max-width: 985px) {
  #scroll.sticky {
    background: initial;
    border-bottom: none;
    height: initial;
  }

  #menu {
    display: block;
    position: absolute;
    width: 300px;
    top: 70px;
    right: 0;
    transition: 0.5s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(286px - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    background-color: #e7e7e7;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    text-align: right;
    padding-right: 10px;
  }

  #menu a.lnk {
    color: rgb(46, 46, 46);
    transition: 0.5s;
  }
  #menu a.lnk:hover {
    color: white;
    background-color: rgb(46, 46, 46);
  }

  #btn-mobile {
    color: rgb(255, 255, 255);
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    line-height: 14px;
    background-color: rgb(46, 46, 46);
  }
  #hamburger {
    color: red;
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::before,
  #hamburger::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
  }
  #nav.posMenu {
    margin-bottom: initial;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    position: relative;
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media screen and (max-width: 450px), screen and (max-height: 500px) {
  #header {
    height: 50px;
  }
  #menu {
    top: 50px;
  }
}
