.colorBk-footer {
  background-color: white;
}

.main-footer {
  font-family: "Poppins";
  height: 33px;
  font-size: 0.8rem;
  color: rgb(100, 100, 100);
  display: flex;
  align-items: center;
  justify-content: center;
}
