.colorBk-contact {
  background-color: rgb(73, 73, 73);
}

.main-contact {
  font-family: "Poppins", sans-serif;
  min-height: calc(100vh - 33px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-contact .wrapper-contact {
  width: 100%;
}

.main-contact .container {
  display: flex;
  min-height: 75vh;
}

/* lado do info */
.main-contact .container .contactInfo {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 80px 0;
}
.main-contact .container .contactInfo .teste {
  background-color: aqua;
}
.main-contact .container .contactInfo h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2.2rem;
  color: white;
  font-weight: 500;
}

.main-contact .container .contactInfo ul.info li {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.main-contact .container .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.main-contact .container .contactInfo ul.info li span:nth-child(1) img {
  filter: invert(1);
  max-width: 100%;
}

.main-contact .container .contactInfo ul.info li span:nth-child(2) {
  margin-left: 15px;
  color: white;
}

.main-contact .container .contactInfo ul.sci {
  display: flex;
  align-self: baseline;
}
.main-contact .container .contactInfo ul.sci li a img {
  width: 50px;
  margin-left: 10px;
}

/* lado do form ################################### */
.main-contact .container .contactForm {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main-contact .container .contactForm .teste2 {
  border-left: 2px solid white;
  padding-left: 50px;
}
.main-contact .container .contactForm h2 {
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 2.2rem;
  color: white;
  font-weight: 500;
}

.main-contact .container .contactForm .formBx {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-contact .container .contactForm .formBx .inputBx {
  position: relative;
  margin-bottom: 55px;
}
.main-contact .container .contactForm .formBx .inputBx.w50 {
  width: 47%;
}
.main-contact .container .contactForm .formBx .inputBx.w100 {
  width: 100%;
}
.main-contact .container .contactForm .formBx .inputBx input,
.main-contact .container .contactForm .formBx .inputBx textarea {
  background-color: rgba(82, 82, 82, 0.384);
  width: 100%;
  resize: none;
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}
.main-contact .container .contactForm .formBx .inputBx textarea {
  height: 125px;
}
.main-contact .container .contactForm .formBx .inputBx span {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 10px 0px 0px 10px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.3s;
}

.main-contact .container .contactForm .formBx .inputBx input:focus ~ span,
.main-contact .container .contactForm .formBx .inputBx input:valid ~ span,
.main-contact .container .contactForm .formBx .inputBx textarea:focus ~ span,
.main-contact .container .contactForm .formBx .inputBx textarea:valid ~ span {
  transform: translatey(-30px);
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.main-contact .container .contactForm .inputBx input[type="submit"] {
  cursor: pointer;
  background-color: white;
  color: rgb(73, 73, 73);
  max-width: 150px;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
}

.main-contact .container .contactForm .inputBx input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(60, 60, 60);
  letter-spacing: 1.3px;
}
