.colorBk-contact {
  position: relative;
  background-color: var(--bg-contact);
  height: 100vh;
  filter: inherit;
}

.main-contact {
  padding: 90px 0 30px 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-contact .wrapper-contact {
  width: 100%;
}

.main-contact .container {
  display: flex;
  padding: 0px 30px;
}

/* lado do info */
.main-contact .container .contactInfo {
  padding-top: 7vh;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-contact .container .contactInfo h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2.2rem;
  color: var(--color-title-first);
  font-weight: 500;
}

.main-contact .container .contactInfo ul.info li {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.main-contact .container .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.main-contact .container .contactInfo ul.info li span:nth-child(1) img {
  filter: invert(1);
  max-width: 100%;
}

.main-contact .container .contactInfo ul.info li span:nth-child(2) {
  margin-left: 15px;
  color: var(--color-font-first);
}

.main-contact .container .contactInfo ul.sci {
  display: flex;
  align-self: baseline;
}
.main-contact .container .contactInfo ul.sci li a img {
  width: 45px;
  margin-left: 10px;
}

/* lado do form */
.main-contact .container .contactForm {
  padding-top: 7vh;
  width: 70%;
  display: flex;
  border-left: 2px solid;
  border-image: linear-gradient(
      to top,
      var(--border-second),
      var(--border-first),
      var(--border-first),
      var(--border-second)
    )
    1 100%;
}
.main-contact .container .contactForm .Wrapper-form {
  padding-left: 50px;
}
.main-contact .container .contactForm h2 {
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 2.2rem;
  color: var(--color-font-first);
  font-weight: 500;
}

.main-contact .container .contactForm .formBx {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-contact .container .contactForm .formBx .inputBx {
  position: relative;
  margin-bottom: 55px;
}
.main-contact .container .contactForm .formBx .inputBx.w50 {
  width: 47%;
}
.main-contact .container .contactForm .formBx .inputBx.w100 {
  width: 100%;
}
.main-contact .container .contactForm .formBx .inputBx input,
.main-contact .container .contactForm .formBx .inputBx textarea {
  box-sizing: border-box;
  background-color: var(--bg-contact-second-a);
  width: 100%;
  resize: none;
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color-font-first);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-font-first-a);
}
.main-contact .container .contactForm .formBx .inputBx textarea {
  min-height: 20vh;
}
.main-contact .container .contactForm .formBx .inputBx span {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 10px 0px 0px 10px;
  color: var(--color-font-first-a);
  pointer-events: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.3s;
}

.main-contact .container .contactForm .formBx .inputBx input:focus ~ span,
.main-contact .container .contactForm .formBx .inputBx input:valid ~ span,
.main-contact .container .contactForm .formBx .inputBx textarea:focus ~ span,
.main-contact .container .contactForm .formBx .inputBx textarea:valid ~ span {
  transform: translatey(-30px);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--border-first);
}

/* btn enviar */
.main-contact .container .contactForm .formBx .inputBtn span {
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
}
.main-contact .container .contactForm .formBx .inputBtn span::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  transition: all 0.5s;
  box-sizing: content-box;
}
.main-contact
  .container
  .contactForm
  .formBx
  .inputBtn
  span:nth-child(1)::before {
  background: linear-gradient(
    30deg,
    var(--button-third),
    var(--button-fourth),
    var(--button-fourth),
    var(--button-third)
  );
}

.main-contact .container .contactForm .formBx .inputBtn span:hover:before {
  inset: -3px;
  transition: 0.5s;
}

.main-contact .container .contactForm .formBx .inputBtn span input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  display: block;
  background-color: var(--button-first);
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-font-second);
  text-transform: uppercase;

  transition: all 0.5s;
}
.main-contact .container .contactForm .formBx .inputBtn span input:hover {
  font-size: 1.2rem;
  background-color: var(--bg-contact-second);
  color: var(--button-first);
}

.screen-contact {
  display: none;
}

@media screen and (max-width: 1050px) {
  .main-contact .container .contactInfo {
    display: none;
  }

  .main-contact .container .contactForm {
    width: 100%;
    border: none;
  }
  .main-contact .container .contactForm .Wrapper-form {
    padding: 0px;
  }
  .main-contact .container .contactForm .formBx .inputBx {
    margin-bottom: 40px;
  }

  .screen-contact {
    display: block;
    width: 100%;
  }

  .screen-contact ul.info {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .screen-contact ul.info li {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: var(--color-font-first);
  }
  .screen-contact ul.info li span:nth-child(1) {
    width: 25px;
    min-width: 25px;
  }
  .screen-contact ul.info li span:nth-child(1) img {
    filter: invert(1);
    max-width: 100%;
  }

  .screen-contact .wrapper-media {
    margin-top: 20px;
  }
}

/* SCREEN */
@media screen and (max-width: 700px) {
  .screen-contact ul.info {
    display: none;
  }
  .main-contact {
    padding: 60px 0 0px 0;
    height: calc(100vh - 60px);
    justify-content: space-around;
  }

  .main-contact .wrapper-contact {
    width: 100%;
  }

  .main-contact .container {
    display: flex;
    min-height: 100%;
    padding: 0px 0px;
  }

  /* lado do form */
  .main-contact .container .contactForm {
    padding-top: 0vh;
  }
  .main-contact .container .contactForm .Wrapper-form {
    padding: 0px 20px;
  }
  .main-contact .container .contactForm h2 {
    margin-bottom: 40px;
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .main-contact .container .contactForm .formBx .inputBx {
    margin-bottom: 35px;
  }
  .main-contact .container .contactForm .formBx .inputBx input,
  .main-contact .container .contactForm .formBx .inputBx textarea {
    padding: 7px 7px;
    font-size: 1rem;
  }
  .main-contact .container .contactForm .formBx .inputBx textarea {
    min-height: 20vh;
  }
  .main-contact .container .contactForm .formBx .inputBx span {
    padding: 10px 0px 0px 3px;
    font-size: 0.8rem;
    letter-spacing: 0px;
  }

  .main-contact .container .contactForm .formBx .inputBx input:focus ~ span,
  .main-contact .container .contactForm .formBx .inputBx input:valid ~ span,
  .main-contact .container .contactForm .formBx .inputBx textarea:focus ~ span,
  .main-contact .container .contactForm .formBx .inputBx textarea:valid ~ span {
    transform: translatey(-25px);
    font-size: 0.7rem;
  }

  /* btn enviar */
  .main-contact .container .contactForm .formBx .inputBtn span {
    width: 130px;
    height: 40px;
  }
  .main-contact .container .contactForm .formBx .inputBtn span::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    transition: all 0.5s;
    box-sizing: content-box;
  }

  .main-contact .container .contactForm .formBx .inputBtn span input {
    font-size: 0.8rem;
  }
  .main-contact .container .contactForm .formBx .inputBtn span input:hover {
    font-size: 1rem;
  }
  .screen-contact .wrapper-media {
    margin-top: 4vw;
    justify-content: flex-end;
  }
}

@media screen and (max-height: 900px) {
  .colorBk-contact {
    height: auto;
  }
}

@media screen and (max-height: 600px) {
  .main-contact {
    height: auto;
  }
}
