.main-width {
  max-width: 1200px;
  margin: auto;
}

/* MAIN TITTLE */

.main-title {
  font-size: 4rem;
  font-family: "Righteous", sans-serif;
  background-color: rgb(46, 46, 46);
  color: white;
  transition: 0.5s;
}

.main-title.-portfolio {
  position: relative;
  color: transparent;
  font-size: 1.5rem;
  padding: 0px 15px;
  line-height: 40px;
  letter-spacing: 5px;
  transition: 0.5s;
}
.main-title.-portfolio::before {
  box-sizing: border-box;
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 15px;
  width: 90%;
  height: 40px;
  color: rgb(255, 255, 255);
  border-right: 3px solid rgb(255, 255, 255);
  overflow: hidden;
  animation: txtPortifolio 6s linear infinite;
}

@keyframes txtPortifolio {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 90%;
  }
}

.main-title.-habilidades {
  font-size: 2rem;
  padding: 14px 20px;
  letter-spacing: 10px;
}

.main-title.-project {
  font-size: 2rem;
  margin-top: 5vw;
  margin-bottom: 30px;
  padding: 14px 20px;
  letter-spacing: 10px;
}

/* TEXT */
.main-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  color: rgb(46, 46, 46);
  transition: 0.5s;
}
.hello {
  font-family: "Work Sans", sans-serif;
  color: rgb(0, 143, 136);
  font-size: 2.5rem;
  font-weight: 500;
  transition: 0.5s;
}
.name {
  font-family: "Righteous", cursive;
  font-size: 2.8rem;
  line-height: 1.2em;
  transition: 0.5s;
}
.about {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 300;
  padding-right: 30px;
  transition: 0.5s;
}

/* MEDIA ICON */
.wrapper-media .ico {
  width: 40px;
  transition: 0.1s;
  padding-bottom: 5px;
}

@media screen and (max-width: 650px), screen and (max-height: 650px) {
  .main-title.-portfolio {
    line-height: 30px;
  }
  .main-title.-portfolio::before {
    height: 30px;
  }
  .main-title {
    font-size: 2rem;
  }
  .main-title.-portfolio {
    font-size: 1rem;
  }
  .main-text {
    font-size: 1.3rem;
  }
  .hello {
    font-size: 1.8rem;
  }
  .name {
    font-size: 2rem;
    line-height: 1.5em;
  }
  .about {
    font-size: 1rem;
    line-height: 1.2em;
    padding-right: 10px;
  }

  .main-title.-habilidades,
  .main-title.-project {
    font-size: 1.5rem;
    padding: 12px 18px;
    letter-spacing: 7px;
  }
}
