.colorBk-header {
  /* background-color: #e7e7e7; */
  position: fixed;
  z-index: 10;
  width: 100%;
}
#header {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  transition: 0.5s;
}

#menu {
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-size: 2em;
}

#btn-mobile {
  display: none;
  font-family: "Righteous", sans-serif;
}

@media (max-width: 985px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background-color: #e7e7e7;
    transition: 0.5s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(286px - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    color: rgb(0, 13, 255);
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    line-height: 14px;
  }
  #hamburger {
    color: red;
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::before,
  #hamburger::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    position: relative;
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media screen and (max-width: 450px), screen and (max-height: 500px) {
  #header {
    height: 50px;
  }
  #menu {
    top: 50px;
  }
}
