.colorBk-contact {
  background-color: rgb(73, 73, 73);
  height: 100vh;
}

.main-contact {
  padding: 90px 0 0 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-contact .wrapper-contact {
  width: 100%;
}

.main-contact .container {
  display: flex;
  min-height: 75vh;
  padding: 0px 30px;
}

/* lado do info */
.main-contact .container .contactInfo {
  padding-top: 7vh;
  height: 68vh;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-contact .container .contactInfo h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2.2rem;
  color: white;
  font-weight: 500;
}

.main-contact .container .contactInfo ul.info li {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
.main-contact .container .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.main-contact .container .contactInfo ul.info li span:nth-child(1) img {
  filter: invert(1);
  max-width: 100%;
}

.main-contact .container .contactInfo ul.info li span:nth-child(2) {
  margin-left: 15px;
  color: white;
}

.main-contact .container .contactInfo ul.sci {
  display: flex;
  align-self: baseline;
}
.main-contact .container .contactInfo ul.sci li a img {
  width: 45px;
  margin-left: 10px;
}

/* lado do form ################################### */
.main-contact .container .contactForm {
  padding-top: 7vh;
  height: 68vh;
  width: 70%;
  display: flex;
  border-left: 2px solid;
  border-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0)
    )
    1 100%;
}
.main-contact .container .contactForm .Wrapper-form {
  padding-left: 50px;
}
.main-contact .container .contactForm h2 {
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 2.2rem;
  color: white;
  font-weight: 500;
}

.main-contact .container .contactForm .formBx {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-contact .container .contactForm .formBx .inputBx {
  position: relative;
  margin-bottom: 55px;
}
.main-contact .container .contactForm .formBx .inputBx.w50 {
  width: 47%;
}
.main-contact .container .contactForm .formBx .inputBx.w100 {
  width: 100%;
}
.main-contact .container .contactForm .formBx .inputBx input,
.main-contact .container .contactForm .formBx .inputBx textarea {
  box-sizing: border-box;
  background-color: rgba(82, 82, 82, 0.384);
  width: 100%;
  resize: none;
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}
.main-contact .container .contactForm .formBx .inputBx textarea {
  height: 125px;
}
.main-contact .container .contactForm .formBx .inputBx span {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 10px 0px 0px 10px;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.3s;
}

.main-contact .container .contactForm .formBx .inputBx input:focus ~ span,
.main-contact .container .contactForm .formBx .inputBx input:valid ~ span,
.main-contact .container .contactForm .formBx .inputBx textarea:focus ~ span,
.main-contact .container .contactForm .formBx .inputBx textarea:valid ~ span {
  transform: translatey(-30px);
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.footer {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: rgba(192, 192, 192, 0.6);
  text-align: center;
  margin-top: 30px;
}

/* btn enviar */
.main-contact .container .contactForm .formBx .inputBtn span {
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
}
.main-contact .container .contactForm .formBx .inputBtn span::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  transition: all 0.5s;
  box-sizing: content-box;
}
.main-contact
  .container
  .contactForm
  .formBx
  .inputBtn
  span:nth-child(1)::before {
  background: linear-gradient(
    30deg,
    rgb(223, 223, 223),
    rgb(73, 73, 73),
    rgb(73, 73, 73),
    rgb(223, 223, 223)
  );
}

.main-contact .container .contactForm .formBx .inputBtn span:hover:before {
  inset: -3px;
  transition: 0.5s;
}

.main-contact .container .contactForm .formBx .inputBtn span input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  background-color: white;
  z-index: 10;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(73, 73, 73);
  text-transform: uppercase;

  transition: all 0.5s;
}
.main-contact .container .contactForm .formBx .inputBtn span input:hover {
  font-size: 1.2rem;
  background-color: rgba(82, 82, 82);
  color: white;
}
